*{
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}
.hero{
  height: 65vh;
  width: 65;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../wallpapers/moon.jpg);
  background-size: cover;
  background-position: center;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 8%;
  padding-right: 8%;
}
.logo{
  color: white;
  font-size: 50px;
  letter-spacing: 1px;
  cursor: pointer;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
nav ul li a:hover{
  color: #4a0995;
  transition: .4s;
}
.content{
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}
h2{
  color: white;
  margin: 20px 0px 20px;
  font-size: 60px;
}
h3{
  color: white;
  font-size: 35px;
  margin-bottom: 50px;
.}

h1{
  color: white;
  margin: 20px 0px 20px;
  font-size: 60px;
}
.about{
  width: 100%;
  padding: 100px 0px;
  background-color: #5320c6;
  padding-left: 8%;
}
.about img{
  height: auto;
  width: 430px;
  margin-right: 20
  border-radius: 50%;
}
.about-text{
  width: 550px;
}
.main{
  width: 1130px;
  max-width: 95%
   margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text h2{
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h3{
  color: white;
  letter-spacing: 2px;
  font-size: 40px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.about-text p{
  color: white;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
.portfolio-content{
 display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;
}
.row{
  position: relative;
  overflow: hidden
  border- radius: 8px;
  cursor: pointer;
}
.row img{
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 100%
  background:  linear-gradient(rgba(0,0,0,0.1), #ff004f);
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
}

.contact {
  min-height: auto;
  padding-bottom: 7rem;
}

.contact form{
  max-width: 70rem;
  margin: o auto;
  text-align: center;
}

.contact form .input-box{
 position: relative;
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}
.contact form .input-box .input-field{
  position: relative;
  width: 49%;
  margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: transparent;
  border-radius: .6rem;
  border: .2rem solid var(--main-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
  color: var(--text-color);
}
.my-text{
 font-size: 25px;
}
.my-img{
     display: block;
     width: 80%;
     margin: auto;
}
.font-img{
    color: white;
    font-size: 55px;
}
.font-black{
    color: black;
    font-size: 55px;
}

port-font{
   color: black;
    font-size: 30px;
}

.bot-color{
   color: #5320c6;
}
  
.edu-color{
  background-color: #5320c6;
}
.contact form .textarea-field{
  position: relative;
  margin: .8rem 0 2.7rem;
  display: flex;
}

.contact form .textarea-field textarea {
  resize: none;
}

.contact form .btn-box.btns .btn{
  cursor: pointer;
}

.inner{
    height: 1000px;
}

.carousel-image{
   width: 700px;
   height:1300px;
 }
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}


.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #5320c6;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #5320c6;
}
.carousel-imgsize {
  width: 1000px;
  height: 700px;
  object-fit: contain;
}

.carousel-imgsize-2 {
  width: 1000px;
  height: 700px;
  object-fit: contain;
}

.carousel-imgsize-3 {
  width: 1000px;
  height: 700px;
  object-fit: contain;
}
.carousel-font {
  color: black;
}
